*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: floralwhite;
  color: rebeccapurple;
  font-size: 16px;
}

.bottom-nav {
  background-color: turquoise;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
